.mini-card {
    background-color: blueviolet;
    width: 30%;
    height: 200px;
    margin: 10px;
    float: left;
}

.topo {
    background-color: rgb(124, 120, 120);
    width: 360px;
    height: 200px;
}

.meio {
    background-color: rgb(196, 191, 191);
    width: 360px;
    height: 50px;
}

.base {
    background-color: rgb(218, 212, 212);
    border: 1px solid;
    width: 360px;
    height: 100px;
}